body {
    background-image: url("bkg1.jpg");
    background-color: #D1FAFF;
    height: 1000px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment:fixed;
    background-size: cover; 
    font-family: 'B612 Mono';font-size: 22px;
}

header {
    height: 150px;
    width: 100%; 
}
#logo {
    width: 200px;
    height: 100px;
    position: absolute;
    object-fit: none;
}
.menu {
    text-align: center;
    position: relative;
    top: 35px; 
    box-sizing: content-box;
    margin: auto;   

}
.menu a {
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: black;
    padding: 10px;   
    box-sizing: content-box;
    margin-left: 100px;
}
.menu a:hover {
    border: black 1px solid;
    border-radius: 5px;
}
.despre_noi {
    place-content: center;
    text-align: center;
}

footer {
    background-image: linear-gradient(to top right, #ffffff, #babd8d );
    display: block;
    width: 99%;
    height: 30px;
    position: fixed;
    bottom: 0px;
    padding-bottom: 0px;
    text-align: center;   
}
.copyright {
    font-size: 10px;
    position: relative;
    top: 3px;   
}
.poza_solar1 {
    width: 30%;
    border: 1px solid;    
}