body {
    background-image: url("bkg1.jpg");
    background-color: #D1FAFF;
    height: 1000px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed;
    background-size: cover; 
    font-family: 'B612 Mono';font-size: 22px;   
}

header {
    height: 150px;
   
}
#logo {
    width: 200px;
    height: 100px;
    position: absolute;
    object-fit: none;
}
.menu {
    text-align: center;
    position: relative;
    top: 35px; 
    box-sizing: content-box;
    margin: auto;    
}
.menu a {
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: black;
    padding: 10px;   
    box-sizing: content-box;
    margin-left: 100px;
}
.menu a:hover {
    border: black 1px solid;
    border-radius: 5px;
}
.paragraf {
    position: relative;
    left: 100px;
    top: 100px;
    box-sizing: content-box
}
#text_motiv {
    text-align:;
    text-align: center;
    float: left;
}
#motto {
    position: relative;
    left: 100px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
    